<h2>Add New Dealership</h2>
<hr>

<form action="/dealerships" method="post">
  <label for="name">Dealership's name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add</button>
</form>
