<h2> Add Vehicle to <%= @dealership.name() %> </h2>
<hr>

<form action="/vehicles" method="post">
  <input id='dealership_id' name='dealership_id' type='hidden' value='<%= @dealership.id() %>'>
  
  <label for="make">Vehicle make:</label>
  <input id="make" name="make" type="text">

  <label for="model">Vehicle model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Vehicle year:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add</button>
</form>
