<h2>Add New Vehicle</h2>
<hr>

<form action="/vehicles" method="post">
  <label for="make">Vehicle make:</label>
  <input id="make" name="make" type="text">

  <label for="model">Vehicle model:</label>
  <input id="model" name="model" type="text">

  <label for="year">Vehicle year:</label>
  <input id="year" name="year" type="text">

  <button type="submit">Add</button>
</form>
