<h2>Current Vehicles</h2>
<hr>

<h3>List of vehicles on our lot: </h3>
<ul>
  <% @vehicles.each() do |vehicle| %>
   <li><a href="/vehicles/<%= vehicle.id() %>"><%= vehicle.make() %> <%= vehicle.model() %></a></li>
   <% end %>
</ul>
