<h2>Vehicle Information</h2>
<hr>

<p><strong>Make:</strong> <%= @vehicle.make() %></p>
<p><strong>Model:</strong> <%= @vehicle.model() %></p>
<p><strong>Year:</strong> <%= @vehicle.year() %></p>

<a href="/">Home</a>
